body, html{
    height: 100%;
    width: 100%;
    background-color: #d4d6b9;
    overflow: hidden;
    touch-action: manipulation;
    
}

.container-1 {
    width: 100%;
    flex-direction: column;
    margin: none;

}



#p1Box, #p2Box, #playTable, #header, #footer{
    text-align: center;
    
    padding: 5px;
    width: 100%;
}

#p1Box{
    margin-top: 4rem;
}

#playTable{
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

}


#moveResult{
    color: #f3a712;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 1px 1px gray;
    opacity: 0;
    
}


  


#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d4d6b9;

}

#header, h1{
    position: fixed;
    top: 0;
    width: 100%;
    margin: none;
    padding: none;
    background-color: #d4d6b9;
    color: #4c4c47;
    text-shadow: 2px 2px #4c4c47;
}


.card
{
	padding: 10px;
	border: solid 5px whitesmoke;
	background-color: #66717e;
	display: inline-block;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color:black;
	margin: 3px;
}



.card .value{
	font-size:15pt;
	font-family: sans-serif;
    padding: 0 70% 0 0;
    color: #f3a712;
}
.card .value2{
	font-size:15pt;
	font-family: sans-serif;
    padding: 0 0 0 70%;
    color: #f3a712;
}

.card .suit
{
	height: 80px;
	width: 90px;
    color: #f3a712;
    font-size: 50px;

}



#drawBtn, #instructionsBtn{
    border: none;
    width: 45%;
    height: 75px;
    border-radius: 5px;
    background-color: #c14953;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: whitesmoke;
    touch-action: manipulation;
}

#instructionsBtn{
    font-size: 20px;
    background-color: #4ba3c3;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    width: 90%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#buttonRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}






/* MEDIA QUERIES */



/* /////////////////////////////////////////////////////// */

/* MEDIA QUERIES */

/* /////////////////////////////////////////////////////// */


    
  }
  
  @media screen and (max-width: 768px) {
    body {
      height: 100%;
    }
    
  }
  
  @media screen and (max-width: 667px) {
    body {
      height: 100%;
    }
  
    
  }
  
  @media screen and (max-width: 414px) {
    body {
      height: 100%;
    }
  
    
  }
  
  @media screen and (max-width: 375px) {
    body {
      height: 100%;
    }
  
    
  }
  
  @media screen and (max-width: 320px) {
    body {
      height: 100%;
    }

    #drawBtn, #instructionsBtn{
        
        font-size: 15px;
       
    }
  
   
  }
 