body, html{
    height: 90%;
    width: 100%;
    background-color: #d4d6b9;
    
}

.container-1 {
    width: 100%;
    flex-direction: column;
    margin: none;

}



#p1Box, #p2Box, #playTable, #header, #footer{
    text-align: center;
    
    padding: 5px;
    width: 100%;
}

#p1Box{
    margin-top: 4rem;
}

#playTable{
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

}

#moveResult{
    color: #f3a712;
    font-family: 'Noto Sans', sans-serif;
}


#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d4d6b9;

}

#header, h1{
    position: fixed;
    top: 0;
    width: 100%;
    margin: none;
    padding: none;
    background-color: #d4d6b9;
    color: #4c4c47;
    text-shadow: 2px 2px #4c4c47;
}


.card
{
	padding: 10px;
	border: solid 1px #808080;
	background-color: #66717e;
	display: inline-block;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color:black;
	margin: 3px;
}



.card .value{
	font-size:15pt;
	font-family: sans-serif;
    padding: 0 70% 0 0;
    color: #f3a712;
}

.card .suit
{
	height: 100px;
	width: 90px;
    color: #f3a712;
    padding: 25% 0 0 0;

}

.card .diamonds
{
	background-position-y: 100px;
}

.card .hearts
{
	background-position-x: 90px;
}

.card .clubs
{
	background-position-x:90px;
	background-position-y:100px;
}

.card .spades {
    background-position-y: 90px;
    background-position-x: 100px;
}

#drawBtn{
    border: none;
    width: 50%;
    height: 75px;
    border-radius: 5px;
    background-color: #c14953;
    font-family: 'Noto Sans', sans-serif;
}





@media (max-height: 667px){

#p2Box {
    margin-bottom: 100px;
}



}